* {
  background-color: azure;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 28px;
}

h1,
h2 {
  text-transform: uppercase;
  color: darkslateblue;
}

a {
  color: darkslateblue;
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
}

.recipe-list li {
  font-size: 24px;
  font-weight: 600;
  list-style: none;
  background-color: rgb(155, 228, 240);
}

.recipe li {
  display: inline-block;
  list-style: none;
  text-align: left;
  padding-top: 3px;
}
p {
  font-style: italic;
  font-weight: 500;
}

ul li {
  padding: 0px 25px 5px 25px;
  list-style-position: inside;
  border: 1px solid darkslateblue;
  margin: 4px;
  border-radius: 15px;
  text-align: center;
}

.recipe-style {
  text-align: center;
  text-decoration: underline;
}

.odd {
  font-weight: bold;
}

.even {
  padding: 2px;
}

.source {
  float: right;
  text-decoration: underline;
}
